@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(3, 4, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  height: 100vh;
  text-align: center;
}
.container {
  width: 530px;
  height: 540px;
  background-color: #ccc;
  border-radius: 5px;
}
.container-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
}
input[type="text"] {
  outline: none;
  border: none;
  width: 35px;
  height: 25px;
  background-color: #ccc;
  font-size: 20px;
  margin-left: 10px;
  transition: all 100ms ease-in-out;
}
input[type="range"] {
  scroll-behavior: smooth;
  appearance: none;
  border-radius: 5px;
  background-color: aliceblue;
  width: 170px;
  margin-left: 2.5vw;
}
input[type="range"]:focus {
  outline: none;
}
input[type="checkbox"] {
  opacity: 0;
}
input[type="checkbox"]:checked + label {
  background-color: #191d1d;
  color: white;
  border-color: white;
}
.labelCheck {
  font-size: 20px;
  width: 70px;
  height: 50px;

  padding: 5px 10px;
  border: 1px solid #b9b9bdcc;
  border-radius: 3px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;
}
button {
  border: none;
  padding: 5px 10px;
  height: 55px;
  cursor: pointer;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
button:hover {
  transform: translate(15px);
  background-color: #191d1d;
  color: #fff;
}
button:focus {
  outline: none;
}
p {
  color: red;
}
